
@{
    ViewBag.Title = "Confirmacion";
}





    <div class="d-flex justify-content-center  ">
        <div class="alert alert-success" role="alert">

                <h4 class="alert-heading">Bien Hecho!</h4>
                <p>El pago se ha procesado correctamente</p>
                <hr>
                <p class="mb-0">@Html.ActionLink("Volver a lista principal", "Index", "Carrito")</p>
           

                
            </div>
        </div>



